*{
    margin: 0;
    padding: 0;
    /* overflow: auto; */
    /* border: 1px solid red; */
}

body {
    background-color: #efe8e8;
    text-align: center;
}

.container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    -border: 1px solid red;
}

.game {
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    -border: 1px solid black;

}

.box {
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    -color: rgb(255, 0, 0);
    background-color: rgb(248, 248, 248);
    position: relative;

}


.box-inner {
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);

}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}


.msg-container h3 {
    padding-top: 10px;
    font-size: 40px;
    -color: rgb(247, 0, 0);
}


.score {
    border: 1px solid black;
    width: 300px;
}

.hide {
    display: none;
}

.header {
    font-size: 35px;
    padding: 10px;
}

.win {
    animation: winanimation ease-in-out 1s infinite;
}

@keyframes winanimation {
    0% {
        background-color: rgb(100, 183, 183);
    }

    100% {
        background-color: #383838;
        color: white;
    }
}

.scoreboard {
    display: flex;
    margin: 10px auto;
    -border: 1px solid black;
    -justify-content: center;
    width: 340px;
    -border: 1px solid black;
    justify-content: space-between;
}

.scoreO {
    background-color: #006A71;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(72, 72, 72);
    width: 150px;
    color: white;
}

.scoreX {
    background-color: #DDA853;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(72, 72, 72);
    width: 150px;
}

.scoreO p {
    font-weight: 700;
    -font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scoreX p {
    font-weight: 700;
    -font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scoreO h5,
p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.scoreX h5,
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.turnO {
    color: #006A71;
    box-shadow: 0 0 10px #006A71;
}

.turnX {
    color: #DDA853;
    box-shadow: 0 0 10px #DDA853;
}

.winnerO {
    color: #006A71;
}

.winnerX {
    color: #DDA853;
}

.gameDraw {
    color: #191913;
}

@media(max-width:553px) {
    .game {
        height: 75%;
        width: 85%;
        gap: 3.5vmin;
        /* border: 1px solid red; */
        transform: translateY(-30px);
    }

    .box {
        height: 22vmin;
        width: 22vmin;
    }

    .scoreboard {
        justify-content: center;
        width: 100%;
    }

    .s_b {
        width: 120px;
        font-size: 17px !important;
        margin-inline: 10px;
    }

    .s_b h5 {
        font-size: 17px;
    }

    .header {
        text-align: center;
    }

    .msg-container {
        transform: translateY(-25px);
    }

    #msg {
        font-size: 27px;
    }

    .r_b {
        margin-bottom: 15px;
    }
}